@model List<_01_Query.Contract.Footer.FooterQueryModel>
<footer class="rel-footer mt-5">
    <div id="footer-content">
        <div class="container">
            <div class="row pt-4 mx-2">
                <div class="col-lg-5 col-sm-6 pr-lg-4 py-3 IRANSansWeb_Medium  order-lg-3  order-2">
                    <h5 class="IRANSansWeb_Medium"> ارتباط با ما : </h5>
                    @foreach (var item in Model)
                    {
                        <p><i class="fas fa-2x fa-map-marker-alt ml-2"></i>آدرس : @item.Address  </p>
                        <p><i class="fas fa-2x fa-fax ml-2"></i>ایمیل : @item.Email</p>
                        <p><i class="fas fa-2x fa-phone ml-2"></i>تلفن : @item.Phone</p>
                        <p><i class="fas fa-2x fa-mobile-alt ml-2"></i>تلفن همراه : @item.Mobile</p>
                        <p><i class="fas fa-2x fa-fax ml-2"></i>نمابر : @item.Fax</p>
                    }
                </div>
                <div class="col-lg-2 col-sm-6 py-3 order-lg-1 order-1">
                    <h5 class="IRANSansWeb_Medium"> لینک های سریع : </h5>
                    <ul>
                        <li>
                            <a asp-page="/Index" target="_blank" title="صفحه اصلی">صفحه اصلی</a>
                        </li>
                        <li>
                            <a asp-page="/Account" target="_blank" title="ورود">ورود به سایت</a>
                        </li>
                        <li>
                            <a asp-page="/AboutUs" target="_blank" title="درباره ما">درباره ما</a>
                        </li>
                        <li>
                            <a asp-page="/ContactUs" target="_blank" title="تماس با ما">تماس با ما </a>
                        </li>
                        <li>
                            <a asp-page="/Managers" target="_blank" title="اعضای هیئت امنا">اعضای هیئت امنا</a>
                        </li>
                        <li>
                            <a asp-page="/PictureGallery" target="_blank" title="گالری تصاویر کانون کارآفرینی">گالری تصاویر</a>
                        </li>
                        <li>
                            <a asp-page="/CounselingCenters" target="_blank" title="لیست مراکز مشاوره">لیست مراکز مشاوره کارآفرینی</a>
                        </li>
                        <li>
                            <a asp-page="/EntrepreneurCafes" target="_blank" title="لیست مراکز مشاوره">لیست کافه های کارآفرینی</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 py-3 order-lg-2  order-3">
                    <h5 class="IRANSansWeb_Medium">پیوندها : </h5>
                    <ul>
                        <li>
                            <a href="https://www.ostan-ag.gov.ir/" target="_blank" title="استانداری آذربایجان غربی">استانداری آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="https://az-gharbi.mcls.gov.ir/" target="_blank" title="اداره کل تعاون،کار و رفاه اجتماعی استان آذربایجان غربی">اداره کل تعاون،کار و رفاه اجتماعی استان آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="http://www.tvto-ag.ir/" target="_blank" title="سازمان فنی و حرفه ای استان آذربایجان غربی">سازمان فنی و حرفه ای استان آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="https://azargharbi.tamin.ir/" target="_blank" title="سازمان تامین اجتماعی استان آذربایجان غربی">سازمان تامین اجتماعی استان آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="https://www.karafariniomid.ir/azar-gh" target="_blank" title="صندوق کارآفرینی امید استان آذربایجان غربی">صندوق کارآفرینی امید استان آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="https://wastp.ir/" target="_blank" title="پارک علم و فناوری استان آذربایجان غربی">پارک علم و فناوری استان آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="http://www.waiec.ir" target="_blank" title="شرکت شهرک های صنعتی استان آذربایجان غربی">شرکت شهرک های صنعتی استان آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="http://www.taavongaran.ir/" target="_blank" title="خانه تعاونگران ایران">خانه تعاونگران ایران</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 py-3 order-lg-2  order-3">
                    <h5 class="IRANSansWeb_Medium">پیوندها : </h5>
                    <ul>
                        <li>
                            <a href="https://isti.ir/" target="_blank" title="معاونت علمی و فناوری ریاست جمهوری">معاونت علمی و فناوری ریاست جمهوری</a>
                        </li>
                        <li>
                            <a href="https://www.inif.ir/" target="_blank" title="صندوق شکوفایی و نوآوری">صندوق شکوفایی و نوآوری</a>
                        </li>
                        <li>
                            <a href="https://uut.ac.ir/" target="_blank" title="دانشگاه صنعتی ارومیه">دانشگاه صنعتی ارومیه</a>
                        </li>
                        <li>
                            <a href="https://www.urmia.ac.ir/" target="_blank" title="دانشگاه ارومیه">دانشگاه ارومیه</a>
                        </li>
                        <li>
                            <a href="http://www.iaurmia.ac.ir/" target="_blank" title="دانشگاه آزاد اسلامی آذربایجان غربی">دانشگاه آزاد اسلامی آذربایجان غربی</a>
                        </li>
                        <li>
                            <a href="https://tv1.ir/program/73647" target="_blank" title="برنامه پایش">برنامه پایش</a>
                        </li>
                        <li>
                            <a href="https://meidoun.ir/home/meidounshow" target="_blank" title="برنامه میدون">برنامه میدون</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <a asp-page="/Index" class="text-white ">
                        کلیه حقوق این سایت متعلق به <strong>کانون کارآفرینی استان آذربایجان غربی</strong> می باشد .
                    </a>
                    <br />
                    <a href="https://navid-ghavami.ir/" class="text-white ">

                        طراح و برنامه نویس سایت : <strong>نوید قوامی</strong> <strong>(مشاهده رزومه)</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>