@model EntrepreneurManagement.Application.Contract.LegalEntrepreneur.LegalEntrepreneurViewModel

@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">کارآفرین حقوقی: @Model.Company</h4>
</div>

<div class="modal-body">

    <table class="table table-bordered table-responsive">

        <thead>

            <tr>

                <th>#</th>
                <th>نام شرکت</th>
                <th>شناسه ملی شرکت</th>
                <th>نام مدیرعامل شرکت</th>
                <th>نام خانوادگی مدیرعامل شرکت</th>
                <th>کد ملی مدیرعامل شرکت</th>
                <th>موضوع شرکت</th>
                <th>شهر محل سکونت شرکت</th>
                <th>تلفن شرکت</th>
                <th>موبایل شرکت</th>
                <th>آدرس</th>
                <th>تاریخ ثبت نام</th>


            </tr>


        </thead>

        <tbody>

            <tr>

                <td>@Model.Id</td>
                <td>@Model.Company</td>
                <td>@Model.CompanyId</td>
                <td>@Model.ManagerName</td>
                <td>@Model.ManagerFamily</td>
                <td>@Model.ManagerNationalId</td>
                <td>@Model.CompanySubject</td>
                <td>@Model.CompanyCity</td>
                <td>@Model.CompanyPhone</td>
                <td>@Model.CompanyMobile</td>
                <td>@Model.CompanyAddress</td>
                <td>@Model.CreationDate</td>

            </tr>
        



        </tbody>


    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>

