@page
@model ServiceHost.Pages.ContactUsModel


@{
    ViewData["Title"] = "ارتباط با ما";
}

<section class="container-fluid mt-3 pb-4 pb-lg-0">

    <div class="container mb-5 p-5 box">
        <h4 class="mb-4 bt-color">ارتباط با ما</h4>
        <div class="row">

            @foreach (var item in Model.AboutContactUs)
            {
                <div class="col-md-7 pr-md-4">

                    <p>
                        @item.ContactUsText
                    </p>

                    <p>
                        <span class="IRANSansWeb_Medium  text-lightgreen">
                            <i class="fas fa-2x fa-map-marker-alt ml-2"></i> آدرس :
                        </span> @item.Address
                    </p>
                    <p>
                        <span class="IRANSansWeb_Medium  text-lightgreen">
                            <i class="fas fa-2x fa-phone pl-2"></i> تلفن :
                        </span>@item.Phone
                    </p>
                    <p>
                        <span class="IRANSansWeb_Medium  text-lightgreen">
                            <i class="fas fa-2x fa-phone pl-2"></i> موبایل :
                        </span>@item.Mobile
                    </p>
                    <p>
                        <span class="IRANSansWeb_Medium  text-lightgreen">
                            <i class="fas fa-2x fa-phone pl-2"></i> نمابر / فکس :
                        </span>@item.Fax
                    </p>
                    <p>
                        <span class="IRANSansWeb_Medium  text-lightgreen">
                            <i class="fas fa-2x fa-phone pl-2"></i> ایمیل :
                        </span>@item.Email
                    </p>
                    <div>
                        <iframe src="@item.GoogleMap"
                                class="my-4 rad12 map" allowfullscreen="" frameborder="0"></iframe>
                    </div>
                </div>
            }

            <div class="col-md-5 mb-4 p-4 brr">
                <p class="mb-3">جهت ارتباط با ما و ارسال نظـرات و پیشنهادات خود می توانید از فرم زیر استفاده نمایید</p>

                <div class="form-group">
                    <!--<input class="form-control w-75 mb-2" type="text" placeholder="نـام کامل" />-->
                    <input class="form-control w-75 mb-2" type="email" placeholder="ایمیل معتـبر">
                    <input class="form-control w-75 mb-2" type="tel" placeholder="شمـاره موبایل">
                    <input class="form-control w-75 mb-2" type="text" placeholder="موضوع پیام">
                    <textarea class="form-control area mb-2" cols="60" rows="9" placeholder="متن پیام" style="height: 150px!important"></textarea>
                </div>

                <button class="btn btn btn-teal mb-3 text-white" type="submit">
                    ارسـال پیـام

                    <i class="fa fa-paper-plane fa-2x pr-2"></i>

                </button>

            </div>
        </div>

    </div>

    <!--<object class="d-none d-xl-block" type="image/svg+xml" data="Images/Svg/desktop-wave.svg"></object>-->


</section>